# Database
DATABASE_URL="postgresql://lms:lms_dev_password@localhost:5434/mini_lms"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-production"

# MinIO
MINIO_ENDPOINT="http://localhost:9002"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin123"
MINIO_BUCKET="mini-lms-storage"
